// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.landButtons{
	width:90%;
	margin-left:5%;
	padding:5%;
	text-align:center;
	border-radius:4px;
	background-color:white;
	margin-bottom:4%;
}
#mobileContain{
	padding-top:20px;
	margin-top:50px;
	
}